<!DOCTYPE>
<!--
         ,,.   .;si;
       ss,  .sA#BS::A,                               :HA.
     ,Ar  ,2MB2,   i@M                               .:,  .@@;               .
    .M5  2BHS     ,@@    AA:   .AX  r3X&Ar  :A9 :h#, 22. M@@@@M  @@i #@@  5@@@@@@  @@S M@@@  ,@@@@@i
    2Ai;AA2.     .@@,    X#S  ,MX ,H3  i#5  2BXi5:. :HA   @@i   :@@&@X: ,@@;  #@@ .@@A@sX@@  #@@
  :.X39G9:      s@@;     :HG ,Mr  BAr;is.   &h2.    5&r   @@    h@@2   .@@   A@@, X@@2  h@G   i@@i
  i;.93r      S@@@        AASH:  :Hh,    , ;A2     .A&   G@@    @@;    #@# X#A@@  @@r   @@.     @@h
  ,@       r@@@#.         i39.    ;22ii22: SX:     ;9S   ;@@@i ;@@     :@@@5 X@i ,@@   s@# .@@MA@A
   G@; ;A@@@@s
    s@@@@&:


Hi, dude ..
Did you find what you searching for?
Maybe you can find here https://www.veritrans.co.id/career.html

Veritrans Engineering Team

-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width' initial-scale='1' name='viewport'>
    <title>Sample Store</title>
    <link href='images/veritrans.ico' rel='icon' type='image/png'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="<%= config.apiBaseURL %>/assets/snap.js" data-client-key="<%= config.clientKey %>"></script>
  </body>
</html>
