.list {
  background-color: $base-6;
  height: 72px;
  display: block;
  text-decoration: none;
  box-sizing: content-box;
  border-bottom: 1px solid $base-5;
  .list-next {
  	margin: 30px 12px 30px 20px;
  	float: right;
  }
  &:hover {
  	background-color: lighten($base-5, 4%);
  }
}
.list-payment-logo {
	padding: 16px;
	float: left;
  border-bottom: 1px solid $base-6;
}
.list:last-child {
  .list-payment-logo {
    border-bottom: 0;
  }
}
.list-content {
	vertical-align: middle;
  width: calc(100% - 116px);
	height: 72px;
	float: left;
}
.list-title {
	padding-top: 18px;

}
.list-caption {
	padding-top: 4px;
}
