.main {
  // background-color: $color-5;
  // height: 96px;
  // border-bottom: 1px solid $color-4;
}

.main-content {
  // padding: 16px 16px;
}
.text-main-title:not(:first-child) {
	margin-top: 16px;
}
.text-main:first-child {
  margin-top: 0;
}
.order-id {
	margin-top: -8px;
	.text-main-body {
		line-height: 24px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
