.spinner-group {
	position: relative;
  font-size: 1.6rem;
  margin: 0;
  label {
    display: block;
    color: red;
    height: 42px;
    vertical-align: middle;
    margin: 0;
  }
  .spinner,
  label:not(.active),
  label .spinner:not(:checked) {
    display: none;
  }
  label.active {
    display: block;
    width: auto;
    color: $base-1;
    &.null {
      color: $base-4;
      line-height: 42px;
    }
  }
  // Disabled State
  &.disabled {
    .spinner-text {
      color: $base-4;
    }
    .spinner-min, .spinner-add {
      color: $base-4;
      border-color: $base-4;
    }
  }
  // Error State
  &.error { 
    .spinner-text {
      color: $danger-bg;
    }
    .spinner-min, .spinner-add {
      &:not(.disabled) {
        color: $danger-text;
        background-color: $danger-bg;
        border-color: $danger-bg;
      }
      &:hover, &:focus {
        color: $danger-text;
        background-color: darken($danger-bg,5%);
      }
    }
  }
}

@media only screen and (min-width:568px) {
  .spinner-group {
    font-size: 16px;
    label.active {
      &.null {
        line-height: 38px;
      }
    }
  }
}

.spinner-text {
	color: $base-1;
  display: block;
}
.spinner-wrap {
  display: block;
  margin: 24px auto;
  zoom: 1;
}
.spinner-mask {
	display: inline-block;
	text-align: center;
  vertical-align: middle;
  width: calc(100% - 104px);
}
.spinner-min, .spinner-add {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 9px 12px;
  border-radius: 50%;
  text-align: center;
  vertical-align: 0px;
  color: $base-6;
  background-color: $color-2;
  border: 1px solid $color-2;
  &:hover, &:focus {
    background-color: $color-4;
  }
  &.disabled {
    cursor: default;
    color: $base-4;
    background-color: $base-6;
    border-color: $base-4;
    pointer-events: none;
    &:hover, &:focus {
      background-color: transparent;
      color: $base-4;
    }
  }
}
